@import 'tailwindcss';

@source '../**/*.blade.php';
@source '../**/*.js';


@font-face {
    font-family: 'Lato';
    src: url('/public/font/Lato/Lato-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lato', sans-serif;
}